.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bam
.bashvars
.DS_Store
Cvirginica_v300.fa
*.fastq.gz
*.fq.gz
*.deduplicated.bedGraph.gz.bismark.zero.cov
*.deduplicated.txt.gz
*.deduplicated.bedGraph.gz
*.deduplicated.bismark.cov.gz
*.CpG_report.txt.gz

